.clearfix::after {
	clear: both;
	content: '';
	display: block;
}

:root { 
    --primary-color: #FFFFF3;
    --secondary-color: #EBC222;
    --tertiary-color: #00099E;
  	--tertiary-background-color: #6177F5;
}

.mainHeader{
	background-image: url('../images/wildtextures-handmade-warm-flower-paper3.jpg');
	background-position: center;
 	background-repeat: no-repeat;
}

.header{
	display: grid;
  	grid-template-rows: 1.5fr 1fr;
  	margin: 0 auto;
	max-width: 1000px;
	background-image: url('../images/wildtextures-handmade-warm-flower-paper4.jpg');
	background-position: center;
 	background-repeat: no-repeat;
  
}
.banner{
	margin:15px;
	display: grid;
  	grid-template-columns: .5fr 1.5fr .5fr;
  	text-decoration: underline;


}

.bannerText{
	display: flex;
	justify-content: center;
	font-size: 2.4rem;
	
}

.art{
	background-image: url('../images/header1_1.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: contain;

}
.bannerNavigation{
	display: flex;
	justify-content: center;
	font-size: 1.1rem;
	font-style: italic;
	 -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  	border-style: double;
  	border-color:  var(--secondary-color);
  	padding: 3px;
  	margin: 5px;
  	background-image: url('../images/wildtextures-handmade-warm-flower-paper5.jpg');
	background-position: center;
 	background-repeat: no-repeat;
 	 border-width: 6px;

}

.bannerNavigation:hover{
   background-image: url('../images/wildtextures-handmade-warm-flower-paper5hover.jpg');
	background-position: center;
 	background-repeat: no-repeat;

}
.navigation{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style-type: none;
}