.clearfix::after {
  clear: both;
  content: '';
  display: block;
}


:root { 
    --primary-color: #FFFFF3;
    --secondary-color: #EBC222;
    --tertiary-color: DarkSlateGray;
}


.MainStudentPage {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0 auto;
  padding: 40px;
  max-width: 100vw;
  background-image: url('../images/wildtextures-handmade-warm-flower-paper3.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.class-list {
  background-image: url('../images/wildtextures-handmade-warm-flower-paper5.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.class-list-header{
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: 1.7rem;
  margin: 2px;
  padding: 10px;
  border-style: double;
 border-color:  var(--secondary-color);
 border-width: 6px;
}

#current-student {
  display: flex;
  flex-direction: column;
  justify-content: center;


}

#studentSection{
   background-image: url('../images/wildtextures-handmade-warm-flower-paper7.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
.name {
  padding: 1rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
   background-image: url('../images/wildtextures-handmade-warm-flower-paper5.jpg');
  background-position: center;
  background-repeat: no-repeat;


}

.studentInList {
  padding: 2rem;
  transition: 0.3s;

  
}

.studentInList:hover {
  
  text-decoration: underline;
  font-style: italic;
}

.add-student{
 margin: 5px;
 padding: 10px;
border-style: double;
 border-color:  var(--secondary-color);
 border-width: 6px;


}
.studentNav{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 5px;


}
.option{
   display: flex;
  justify-content: center;
  font-size: 1.2rem;
  border-style: double;
  border-color:  var(--secondary-color);
  margin-left: 3px;
   border-width: 6px;
  padding: 5px;

}

.update-student-h1{
   display: flex;
  justify-content: space-around;

}

.studentInputs{
   display: flex;
  justify-content: center;
}

button{
 padding: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
  border-color:var(--secondary-color); 
       
}

.InputUpdate{
  margin: 5px;


}

.retired-box{
  margin: 5px;
  margin-top: 3px;


}

.retireFields{
   display: flex;
  justify-content: center;

  }

.inputOrganize{

}

.inputOrganize1{
    display: flex;
    justify-content: center;
}

.InputUpdateField{
 width: 100%;
  height: 100px;
}

.student-info-section{
  margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
    
}